{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/abramova.mvacademy.ru/my-manifest",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614746712000,
          "date": "2022-07-29T12:58:15.963Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1614746716000,
          "date": "2022-07-29T12:58:16.441Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614746722000,
          "date": "2022-07-29T12:58:16.929Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1659337101844.5674,
          "date": "2022-08-01T06:58:27.876Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1659360613119.7107,
          "date": "2022-08-01T13:51:54.513Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1659360619973.6594,
          "date": "2022-08-01T13:51:55.583Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1659360621193.3704,
          "date": "2022-08-01T13:51:57.939Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1602295704000,
          "date": "2022-07-29T12:58:20.013Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1602295704000,
          "date": "2022-07-29T12:58:20.742Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1602295704000,
          "date": "2022-07-29T12:58:21.375Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1602295704000,
          "date": "2022-07-29T12:58:21.927Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1602295704000,
          "date": "2022-07-29T12:58:22.529Z"
        },
        {
          "file": "fonts/GilroyHeavy.eot",
          "mtimeMs": 1582196112000,
          "date": "2022-07-29T12:58:23.160Z"
        },
        {
          "file": "fonts/GilroyHeavy.svg",
          "mtimeMs": 1582196114000,
          "date": "2022-07-29T12:58:24.022Z"
        },
        {
          "file": "fonts/GilroyHeavy.ttf",
          "mtimeMs": 1582196112000,
          "date": "2022-07-29T12:58:24.794Z"
        },
        {
          "file": "fonts/GilroyHeavy.woff",
          "mtimeMs": 1582196112000,
          "date": "2022-07-29T12:58:25.427Z"
        },
        {
          "file": "fonts/GilroyHeavy.woff2",
          "mtimeMs": 1582196113000,
          "date": "2022-07-29T12:58:26.301Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1538480823000,
          "date": "2022-07-29T12:58:27.168Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1538480829000,
          "date": "2022-07-29T12:58:27.893Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1538480823000,
          "date": "2022-07-29T12:58:28.599Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1538480823000,
          "date": "2022-07-29T12:58:30.226Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1538480827000,
          "date": "2022-07-29T12:58:31.491Z"
        },
        {
          "file": "fonts/MontserratLight.eot",
          "mtimeMs": 1539590708000,
          "date": "2022-07-29T12:58:32.698Z"
        },
        {
          "file": "fonts/MontserratLight.svg",
          "mtimeMs": 1539590715000,
          "date": "2022-07-29T12:58:33.416Z"
        },
        {
          "file": "fonts/MontserratLight.ttf",
          "mtimeMs": 1539590708000,
          "date": "2022-07-29T12:58:34.089Z"
        },
        {
          "file": "fonts/MontserratLight.woff",
          "mtimeMs": 1539590708000,
          "date": "2022-07-29T12:58:34.709Z"
        },
        {
          "file": "fonts/MontserratLight.woff2",
          "mtimeMs": 1539590713000,
          "date": "2022-07-29T12:58:35.303Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1658813288909.6333,
          "date": "2022-07-29T12:59:09.257Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1658813297001.8044,
          "date": "2022-07-29T12:59:10.884Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1658813297085.7534,
          "date": "2022-07-29T12:59:12.278Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1659339262264.0854,
          "date": "2022-08-01T07:34:34.838Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1659339263200.8145,
          "date": "2022-08-01T07:34:35.962Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1659339263200.8145,
          "date": "2022-08-01T07:34:36.621Z"
        },
        {
          "file": "fonts/MontserratRegular.eot",
          "mtimeMs": 1543869054000,
          "date": "2022-07-29T12:58:36.074Z"
        },
        {
          "file": "fonts/MontserratRegular.ttf",
          "mtimeMs": 1543869054000,
          "date": "2022-07-29T12:58:36.780Z"
        },
        {
          "file": "fonts/MontserratRegular.woff",
          "mtimeMs": 1543869054000,
          "date": "2022-07-29T12:58:38.480Z"
        },
        {
          "file": "fonts/MontserratRegular.woff2",
          "mtimeMs": 1543869056000,
          "date": "2022-07-29T12:58:39.048Z"
        },
        {
          "file": "img/backs/doubts-d.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:42.937Z"
        },
        {
          "file": "img/backs/doubts-m.png",
          "mtimeMs": 1659256378123.118,
          "date": "2022-07-31T08:33:24.398Z"
        },
        {
          "file": "img/backs/doubts-t.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:44.663Z"
        },
        {
          "file": "img/backs/main-d.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:45.403Z"
        },
        {
          "file": "img/backs/main-m.png",
          "mtimeMs": 1659256382706.7224,
          "date": "2022-07-31T08:33:25.099Z"
        },
        {
          "file": "img/backs/main-t.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:46.720Z"
        },
        {
          "file": "img/backs/plan-d.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:47.449Z"
        },
        {
          "file": "img/backs/plan-m.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:48.009Z"
        },
        {
          "file": "img/backs/stolen-d.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:48.719Z"
        },
        {
          "file": "img/backs/stolen-m.png",
          "mtimeMs": 1659265690682.2737,
          "date": "2022-07-31T11:22:01.875Z"
        },
        {
          "file": "img/backs/video.png",
          "mtimeMs": 1659074278000,
          "date": "2022-07-29T12:58:50.955Z"
        },
        {
          "file": "img/icons/think-1.png",
          "mtimeMs": 1659074352000,
          "date": "2022-07-29T12:58:53.115Z"
        },
        {
          "file": "img/icons/think-2.png",
          "mtimeMs": 1659074352000,
          "date": "2022-07-29T12:58:53.632Z"
        },
        {
          "file": "img/icons/think-3.png",
          "mtimeMs": 1659074352000,
          "date": "2022-07-29T12:58:54.143Z"
        },
        {
          "file": "img/icons/think-4.png",
          "mtimeMs": 1659074352000,
          "date": "2022-07-29T12:58:54.671Z"
        },
        {
          "file": "img/images/15.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:58:57.740Z"
        },
        {
          "file": "img/images/4.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:58:58.260Z"
        },
        {
          "file": "img/images/arrow.png",
          "mtimeMs": 1659348469220.1494,
          "date": "2022-08-01T10:09:54.420Z"
        },
        {
          "file": "img/images/circle-2.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:00.986Z"
        },
        {
          "file": "img/images/hand.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:03.418Z"
        },
        {
          "file": "img/images/manifest.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:03.978Z"
        },
        {
          "file": "img/images/moon.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:04.649Z"
        },
        {
          "file": "img/images/my.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:05.142Z"
        },
        {
          "file": "img/images/pre-d.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:05.690Z"
        },
        {
          "file": "img/images/think.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:07.065Z"
        },
        {
          "file": "img/images/weeks.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:59:07.575Z"
        },
        {
          "file": "img/icons/arrow.svg",
          "mtimeMs": 1658987337389.815,
          "date": "2022-07-29T12:58:51.986Z"
        },
        {
          "file": "img/icons/play.svg",
          "mtimeMs": 1658996101598.121,
          "date": "2022-07-29T12:58:52.547Z"
        },
        {
          "file": "img/icons/arrow-stolen.svg",
          "mtimeMs": 1659002812130.9043,
          "date": "2022-07-29T12:58:51.477Z"
        },
        {
          "file": "img/backs/do-d.svg",
          "mtimeMs": 1659008122988.712,
          "date": "2022-07-29T12:58:40.681Z"
        },
        {
          "file": "img/images/circle-1.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:58:59.794Z"
        },
        {
          "file": "img/icons/waits-1.svg",
          "mtimeMs": 1659009830216.7942,
          "date": "2022-07-29T12:58:56.153Z"
        },
        {
          "file": "img/icons/waits-2.svg",
          "mtimeMs": 1659009852952.3018,
          "date": "2022-07-29T12:58:56.693Z"
        },
        {
          "file": "img/icons/waits-3.svg",
          "mtimeMs": 1659009875270.4097,
          "date": "2022-07-29T12:58:57.238Z"
        },
        {
          "file": "img/images/august.png",
          "mtimeMs": 1659074400000,
          "date": "2022-07-29T12:58:59.280Z"
        },
        {
          "file": "css/promo.css",
          "mtimeMs": 1659360613060.9326,
          "date": "2022-08-01T13:51:50.543Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1659360616087.2332,
          "date": "2022-08-01T13:51:51.378Z"
        },
        {
          "file": "css/promo.min.css.map",
          "mtimeMs": 1659360616389.4814,
          "date": "2022-08-01T13:51:51.901Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1614333463140.3147,
          "date": "2022-07-30T07:25:56.725Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1659273426957.5657,
          "date": "2022-07-31T13:17:23.687Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1659149180000,
          "date": "2022-07-30T08:38:54.976Z"
        },
        {
          "file": "img/icons/arrow-stolen-mob.svg",
          "mtimeMs": 1659185301190.17,
          "date": "2022-07-30T13:25:52.047Z"
        },
        {
          "file": "img/images/pre-m.png",
          "mtimeMs": 1659250523490.7085,
          "date": "2022-07-31T07:04:43.160Z"
        },
        {
          "file": "2/index.html",
          "mtimeMs": 1659361271621.2214,
          "date": "2022-08-01T13:51:49.297Z"
        },
        {
          "file": "css/styles-2.css",
          "mtimeMs": 1659361886371.2158,
          "date": "2022-08-01T13:51:52.485Z"
        },
        {
          "file": "css/styles-2.min.css",
          "mtimeMs": 1659361889984.8906,
          "date": "2022-08-01T13:51:53.040Z"
        },
        {
          "file": "css/styles-2.min.css.map",
          "mtimeMs": 1659361890075.8352,
          "date": "2022-08-01T13:51:53.570Z"
        },
        {
          "file": "img/backs/main-2-d.png",
          "mtimeMs": 1659348403063.0527,
          "date": "2022-08-01T10:09:51.265Z"
        },
        {
          "file": "img/backs/main-2-m.png",
          "mtimeMs": 1659348408502.5017,
          "date": "2022-08-01T10:09:51.874Z"
        },
        {
          "file": "img/images/about-text.png",
          "mtimeMs": 1659348461947.5842,
          "date": "2022-08-01T10:09:53.901Z"
        },
        {
          "file": "img/images/main-2-img.png",
          "mtimeMs": 1659348475411.3635,
          "date": "2022-08-01T10:09:55.176Z"
        },
        {
          "file": "img/images/main-2-weeks.png",
          "mtimeMs": 1659348479651.8167,
          "date": "2022-08-01T10:09:55.947Z"
        },
        {
          "file": "img/images/main-dream.png",
          "mtimeMs": 1659348484812.516,
          "date": "2022-08-01T10:09:56.710Z"
        },
        {
          "file": "img/images/main-far.png",
          "mtimeMs": 1659348489022.529,
          "date": "2022-08-01T10:09:57.232Z"
        },
        {
          "file": "img/backs/about.svg",
          "mtimeMs": 1659336653226.1377,
          "date": "2022-08-01T06:58:30.331Z"
        },
        {
          "file": "img/backs/main-date.svg",
          "mtimeMs": 1659345560574.9934,
          "date": "2022-08-01T10:09:52.362Z"
        },
        {
          "file": "fonts/MontserratBlack.eot",
          "mtimeMs": 1659342530000,
          "date": "2022-08-01T13:51:58.530Z"
        },
        {
          "file": "fonts/MontserratBlack.svg",
          "mtimeMs": 1659342530000,
          "date": "2022-08-01T13:51:59.149Z"
        },
        {
          "file": "fonts/MontserratBlack.ttf",
          "mtimeMs": 1659342530000,
          "date": "2022-08-01T13:51:59.713Z"
        },
        {
          "file": "fonts/MontserratBlack.woff",
          "mtimeMs": 1659342530000,
          "date": "2022-08-01T13:52:00.635Z"
        },
        {
          "file": "fonts/MontserratBlack.woff2",
          "mtimeMs": 1659342530000,
          "date": "2022-08-01T13:52:01.188Z"
        },
        {
          "file": "img/icons/about-quotes.png",
          "mtimeMs": 1659348457524.68,
          "date": "2022-08-01T13:52:01.711Z"
        },
        {
          "file": "img/images/about-d.png",
          "mtimeMs": 1659361607726.3762,
          "date": "2022-08-01T13:52:02.657Z"
        },
        {
          "file": "img/images/about-mob.png",
          "mtimeMs": 1659361601380.5312,
          "date": "2022-08-01T13:52:04.129Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/2.pug",
        "config": {
          "customOutput": "2\\index.html"
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\libs.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\promo.css"
        }
      },
      {
        "file": "_app/styl/styles-2.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\styles-2.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\styles.css"
        }
      },
      {
        "file": "css/promo.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "css/styles-2.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles-2.min.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js",
          "sourceMap": true
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js",
          "sourceMap": true
        }
      }
    ]
  }
}
