section#about
	.container
		.content
			.about-img
				.circle.circle-about-img-1
			.circle-about
			.circle.circle-about-img-2
			.about-content
				.about-quote
					p.about-quote-text.about-quote-text-1 Помнишь, как говорила Королева Зазеркалья Алисе:
					h3.about-quote-title Чтоб остаться на месте нужно бежать, а чтоб куда-нибудь прибежать, нужно бежать ещё 
						span быстрее!
					p.about-quote-text.about-quote-text-2 Всё это время ты бежала, но оставалась на месте? Просто надо знать 
						span куда
						|  именно бежать.
				.about-content-titles
					h3.about-content-title Марафон
					//- +imgs('about-content-title-img', 'img/images/about-text.png', '“Манифестация изобилия” - движение к твоим мечтам!')
					.about-content-title-img
				.row
					.col-md-6.col-sm-6.col-xs-6
						.about-item
							p.about-item-text Почему именно сейчас?
							h4.about-item-title
								small Потому что
								| бесплатно
					.col-md-6.col-sm-6.col-xs-6
						.about-item
							p.about-item-text Почему именно с нами? 
							h4.about-item-title
								small У нас
								| 15 лет опыта
			+b('button-up button-about', '#Modal', 'Хочу на марафон')
section#think
	.container
		.content
			.line.line-think
			.moon-think
			.think-img
			.think-billet
				h3.general-title.general-title-think Ты растеряна, не чувствуешь, что живешь, не знаешь, как это изменить.
				.think-billet-img
				p.think-billet-item ты сможешь!
			.think-items
				.row
					.col-md-6.col-sm-6
						.think-item.think-item-1
							+imgs('think-item-img', 'img/icons/think-1.png', 'Идея')
							p.think-item-text Разобраться со своим предназначением. Понять, кем тебе нужно быть.
						.think-item.think-item-2
							+imgs('think-item-img', 'img/icons/think-2.png', 'Сердце')
							p.think-item-text Наладить отношения с любимым человеком и близкими тебе людьми.
					.col-md-6.col-sm-6
						.think-item.think-item-3
							+imgs('think-item-img', 'img/icons/think-3.png', 'Доход')
							p.think-item-text Пробить свой денежный потолок, и существенно увеличить свой доход.
						.think-item.think-item-4
							+imgs('think-item-img', 'img/icons/think-4.png', 'Гармония')
							p.think-item-text Обрести гармонию и баланс в своей жизни.