@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base'

// @import 'base/3-header'

@import 'course/1-main'
@import 'main/2-think'
@import 'main/3-video'
@import 'course/2-stolen'
@import 'course/3-do'
@import 'main/6-waits'
@import 'main/7-plan'
@import 'course/4-prices'
@import 'course/5-doubts'
@import 'base/4-footer'
@import 'course/6-modals'