@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base'

// @import 'base/3-header'

@import 'main-2/1-main'
@import 'main-2/2-think'
@import 'main/3-video'
@import 'main/4-stolen'
@import 'main/5-do'
@import 'main/6-waits'
@import 'main/7-plan'
@import 'main/8-doubts'
@import 'base/4-footer'
@import 'main/9-modals'