#think
	padding 100px 0
	position relative
.content-think-1
	margin-bottom: 200px
.general-img-think-1
	top -100px
	right -5%
.line-think
	width 655px
	bottom: -50px
	right -500px
.think-text
	width 100%
	max-width 60%
.general-title-think-1
	display flex
	align-items: flex-start
	justify-content: space-between
	small
		display inline-block
		font-family: M
		font-size: 22px
		font-weight: 300
		text-transform none
		color #000
		padding-right: 10px
.think-text-par
	width 100%
	max-width 92%
	padding 25px 0 40px 25px
.general-title-think-2
	width 73%
.think-billet
	position absolute
	bottom: -153px
	left 34%
	&-img
		height 200px
		width 20px
		background-image: url(../img/icons/arrow.svg)
		background-repeat: no-repeat
		background-position: center
		background-size contain
		display block
		margin 0 auto 30px
	&-item
		display inline-block
		width 100%
		background: linear-gradient(180deg, #416BD8 0%, #0D3397 100%);
		text-align center
		font-size: 30px
		font-weight: bold
		text-transform: uppercase;
		color: #FFFFFF;
		padding 10px 30px
		margin-left: 45px
.think-item
	&s
		position relative
		left 250px
		top 30px
	max-width 630px
	margin-bottom: 70px
	// padding-left: 130px
	position relative
	display flex
	align-items: center
	justify-content: flex-start
	&-img
		margin-right: 30px
	&-1
		margin-left: 250px
	&-2
		margin-left: 166px
	&-3
		margin-left: 83px
.think-circles
	position absolute
	top -150px
	left -350px
	background-image: url('../img/images/moon.png')
	background-repeat: no-repeat
	background-position: center
	background-size 540px
	width 660px
	height: 660px
	border-radius: 50%
	border 2px solid #416BD8
.circle-think-1
	width 300px
	height: 300px
	position absolute
	right -100px
	bottom: -150px
	background-image: url(../img/images/circle-1.png)
	background-repeat: no-repeat
	background-position: center
	background-size contain
.circle-think-2
	width 312px
	height: 312px
	bottom: -283px;
	right: 208px;