#video
	@media screen and (max-width 991px)
		margin-top: 100px
.general-title-video
	text-align: right
	position relative
	padding: 0 30px 30px 0
	span
		position absolute
		height: 126px
		width 35px
		right 0
		top 10px
		background-image: url(../img/icons/arrow.svg)
		background-repeat no-repeat
		background-position: center
		background-size contain
	@media screen and (max-width 991px)
		width 50%
		margin 0 0 0 auto
.video-content
	max-height: 893px
	position relative
	.container
		position absolute
		top 0
		left 0
		right 0
		bottom: 0
		.content
			height 100%
	&-bg
		display block
		width 100%
		object-fit: cover
		object-position: center
		height 100%
		max-height: 893px
.line-video
	width 655px
	top 260px
	left -450px
	@media screen and (max-width 1199px)
		left -550px
	@media screen and (max-width 991px)
		top 200px
		left -500px
.video-content-text
	position absolute
	font-family: G
	font-size: 38px
	font-weight: bold
	color #fff
	text-align center
	text-transform uppercase
	@media screen and (max-width 1199px)
		font-size: 30px
	&-1
		top 160px
		right 0
		width 100%
		max-width 400px
		@media screen and (max-width 991px)
			top 20px
			max-width 310px
	&-2
		bottom 40px
		left 0
		width 100%
		max-width 390px
		@media screen and (max-width 991px)
			max-width 280px
.play-button
	width 176px
	height 176px
	position absolute
	left 0
	right 0
	margin 0 auto
	top calc(50% - 88px)
	background-image: url(../img/icons/play.svg)
	background-repeat no-repeat
	background-position: center
	background-size contain
	opacity 1
	transition: all .3s ease
	&:hover
		opacity .8
	@media screen and (max-width 1199px)
		width 142px
		height: 142px
		top calc(50% - 71px)
	@media screen and (max-width 991px)
		width 100px
		height: 100px
		top calc(50% - 50px)