#cta
	padding 100px 0 55px
	@media screen and (max-width 991px)
		padding 60px 0
.general-title-cta
	position relative
	span
		display inline-block
		background linear-gradient(180deg, #416BD8 0%, #0D3397 100%);
		text-transform uppercase
		color #fff
		padding 5px 30px
.cta-arrow
	display block
	height 93px
	width 12px
	background-image: url(../img/icons/arrow.svg)
	position absolute
	background-repeat: no-repeat
	background-position: center
	background-size contain
	right -6%
	top 0
	transform: rotate(-90deg)
	@media screen and (max-width 1199px)
		width 8px
		top -14px
	@media screen and (max-width 991px)
		position: relative;
		transform: rotate(0deg);
		margin 40px 0 10px 40px
		background-size: cover
.button-cta
	@media screen and (max-width 991px)
		margin 0
#stolen
	position relative
	margin-bottom: 120px
	.container
		position absolute
		top 0
		left 0
		right 0
		bottom: 0
		.content
			height 100%
.stolen
	&-bg
		width 100%
		object-fit: cover
		object-position: center top
		height 100%
		max-height: 1015px
	&-title
		font-family: G
		font-weight: bold
		text-transform uppercase
		text-align center
		color #fff
		width 100%
		max-width 300px
		position absolute
		bottom: 530px
		right 0
		@media screen and (max-width 991px)
			bottom calc(50% - 28px)
	&-arrow
		position absolute
		height 413px
		width 24px
		bottom: 100px
		right 135px
		background-image: url(../img/icons/arrow-stolen.svg)
		background-repeat no-repeat
		background-position: center
		background-size contain
		z-index 20
		@media screen and (max-width 1199px)
			bottom: 75px
		@media screen and (max-width 991px)
			height: 160px
			bottom: 60px
			background-image: url(../img/icons/arrow-stolen-mob.svg)
	&-text
		padding 50px
		background-color #fff
		box-shadow: 14px 15px 26px rgba(0, 0, 0, 0.09);
		border-radius: 20px;
		position absolute
		bottom: -120px
		right 60px
		width 100%
		max-width 620px
		z-index 10
		@media screen and (max-width 1199px)
			max-width 548px
		@media screen and (max-width 991px)
			max-width 700px
			left 0
			right 0
			margin 0 auto