#do
	padding 70px 0 100px
	position relative
	.container
		position absolute
		top 0
		left 0
		right 0
		bottom: 0
		padding-top: 100px
		.content
			height 100%
.do-bg
	width 100%
	object-fit: cover
	object-position: center top
	height: 1096px
	margin-top: 180px
	@media screen and (max-width 1199px)
		margin-top: 380px
		height 890px
	@media screen and (max-width 991px)
		margin-top: 180px
		margin-bottom: 200px
.circle-do-1
	width 301px
	height: 301px
	background-image: url(../img/images/circle-1.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	top 50px
	left 0
	position absolute
	@media screen and (max-width 1199px)
		width 250px
		height: 250px
		left -20px
.circle-do-2
	width 517px
	height: 517px
	top 150px
	right -150px
	@media screen and (max-width 1199px)
		width 395px
		height: 395px
		top 0
		right -200px
.line-do
	width: 730px
	top 30px
	right -500px
	z-index -1
	@media screen and (max-width 1199px)
		right -550px
		top -30px
.general-title-do
	max-width 469px
	margin 0 auto 160px
	position relative
.circle-arrow
	position absolute
	border-radius: 50%
	width 86px
	height: 86px
	background-color: #416BD8
	background-image: radial-gradient(53.49% 60.47% at 71.51% 22.67%, #416BD8 0%, #0D3397 88.19%)
	transform: rotate(90deg);
	margin 0 auto
	right 0
	left 0
	&:before
		content ''
		display block
		position absolute
		width 20px
		height: 20px
		border-bottom: 2px solid #fff
		border-right: 2px solid #fff
		top 32px
		left 0
		right 0
		margin 0 auto
		transform: rotate(-45deg);
	&-do
		top: 110px
	@media screen and (max-width 991px)
		width 70px
		height: 70px
		&:before
			width 16px
			height: 16px
			top 27px
.do-item
	padding 50px
	background-color #fff
	box-shadow: 14px 15px 26px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	width 100%
	max-width 380px
	margin 0 auto 77px
	min-height 280px
	@media screen and (max-width 991px)
		max-width none
		min-height 1px
		margin-bottom: 20px
.form-do
	margin 40px 0 0