.general-title-waits
	width 100%
	max-width 500px
	position relative
	margin-bottom: 70px
	span
		position absolute
		height: 116px
		width 25px
		right 0
		top 10px
		background-image: url(../img/icons/arrow.svg)
		background-repeat no-repeat
		background-position: center
		background-size contain
.line.line-waits
	width 706px
	top -40px
	left -420px
.general-img-waits
	width 605px
	height: 555px
	top -300px
	right -145px
	background url(../img/images/moon.png) no-repeat top 0 right 0, url(../img/images/circle-2.png) no-repeat bottom 0 left 0
	background-size:  360px, 455px
.waits-item
	width 100%
	max-width 380px
	box-shadow: 14px 15px 26px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	padding 120px 35px 15px
	background-repeat no-repeat
	background-position: top 17px left 35px
	min-height 285px
	&-1
		background: url(../img/icons/waits-1.svg) no-repeat top 15px left 35px, linear-gradient(180.32deg, #D9D9D9 -56.71%, #FFFFFF 99.73%)
	&-2
		background: url(../img/icons/waits-2.svg) no-repeat top 15px left 35px, linear-gradient(180.32deg, #D9D9D9 -56.71%, #FFFFFF 99.73%)
	&-3
		background: url(../img/icons/waits-3.svg) no-repeat top 15px left 35px, linear-gradient(180.32deg, #D9D9D9 -56.71%, #FFFFFF 99.73%)