.plan-bg-content
	position relative
	.container
		position absolute
		top 100px
		left 0
		right 0
		bottom: 0
		.content
			height 100%
.plan-bg
	width 100%
	object-fit: cover
	object-position: center bottom
	height 100%
	max-height: 1096px
	margin-top: 50px
.circle-arrow-plan
	bottom: -40px
	@media screen and (max-width 991px)
		bottom: -33px
.general-title-plan
	margin-top: 35px
.circle-plan-1
	width 348px
	height 348px
	top -100px
	left -200px
	@media screen and (max-width 1199px)
		width 290px
		height: 290px
.line-plan
	width 547px
	bottom: 0
	left -290px
	@media screen and (max-width 1199px)
		left -390px
		bottom: -50px
.plan-text-content
	padding  90px 0 50px
.plan-list
	li
		list-style: none
		padding-left: 50px
		padding-bottom: 35px
		position relative
		&:before
			content: ''
			display block
			position absolute
			height: 100%
			width 1px
			border-left: 1px dashed #416BD8;
			top 11px
			left 4px
		&:after
			content: ''
			display block
			position absolute
			width 9px
			height 9px
			border-radius: 50%
			background-color: #416BD8
			top 11px
			left 0
		&:last-child
			&:before
				content none
	&-1
		li
			&:last-child
				&:before
					content: ''