#doubts
	background-color: #3A3939
	background-image: url(../img/backs/doubts-d.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	padding 45px 0 90px
.circle-doubts
	width 349px
	height: 349px
	top -175px
	right -250px
.general-title-doubts
	margin-bottom: 45px
	small
		display block
		font-size: 24px
		font-weight: bold
		text-transform none
		color #fff
		position relative
		&:last-of-type
			margin-left: 300px
	span
		display block
		position relative
		&:first-of-type
			margin-left: 110px
		&:last-of-type
			margin-left: 40px
.doubts-text
	width 100%
	max-width 420px
	color #fff
	margin-bottom: 20px
	span
		font-weight: bold
.button-doubts
	margin 180px 0 0