section#think
	.container
		.content.content-think-1
			+imgs('general-img general-img-think-1', 'img/images/think.png', 'Жанна Абрамова')
			.line.line-think
			.think-text
				h3.general-title.general-title-think.general-title-think-1
					small Наверное,
					|  ты думаешь, что твоя жизнь уже никогда не станет лучше...
				p.think-text-par хотя,  где-то в глубине ты мечтаешь об этом, но уверенности в том, что завтра все изменится - нет.
					br
					| Я более 15 лет работаю психотерапевтом, обучаю этой профессии более 10 лет.
					br
					| Я знаю как помочь тебе, поверить в то, что можно жить иначе, так как ты хотела бы, и дать инструменты для этого.
				h3.general-title.general-title-think.general-title-think-2 Ты растеряна, не чувствуешь, что живешь, не знаешь, как это изменить.
				.think-billet
					.think-billet-img
					p.think-billet-item ты сможешь!
		.content.content-think-2
			.circle-think-1
			.think-circles
				.circle.circle-think-2
			.think-items
				.think-item.think-item-1
					+imgs('think-item-img', 'img/icons/think-1.png', 'Идея')
					p.think-item-text Разобраться со своим предназначением. Понять, кем тебе нужно быть.
				.think-item.think-item-2
					+imgs('think-item-img', 'img/icons/think-2.png', 'Сердце')
					p.think-item-text Наладить отношения с любимым человеком и близкими тебе людьми.
				.think-item.think-item-3
					+imgs('think-item-img', 'img/icons/think-3.png', 'Доход')
					p.think-item-text Пробить свой денежный потолок, и существенно увеличить свой доход.
				.think-item.think-item-4
					+imgs('think-item-img', 'img/icons/think-4.png', 'Гармония')
					p.think-item-text Обрести гармонию и баланс в своей жизни.