section#video
	.container
		.content
			h3.general-title.general-title-video просто посмотри это видео
				span
	.video-content
		+imgs('video-content-bg', 'img/backs/video.png', '')
		.container
			.content
				.line.line-video
				p.video-content-text.video-content-text-1 как за 4 недели пересобрать себя?
				p.video-content-text.video-content-text-2 почему у тебя 100% получится?
				a.play-button.popup-youtube(href="https://youtube.com/embed/OFbr2XaBHY0?autoplay=1&mute=1&modaestbranding=1")