section#waits
	.container
		.content
			.line.line-waits
			.general-img.general-img-waits
			h3.general-title.general-title-left.general-title-waits Что тебя ждет в течение 4-х недель?
				span
			.row
				.col-md-4
					.waits-item.waits-item-1
						p Марафон будет проходить в телеграм канале, где вам будут доступны уроки
				.col-md-4
					.waits-item.waits-item-2
						p Вам нужно будет выполнять небольшие задания, по результатам вы получите обратную связь от кураторов
				.col-md-4
					.waits-item.waits-item-3
						p Сможете общаться с  единомышленниками, делится своими результатами.