section#plan
	.plan-bg-content
		+imgs('plan-bg mob-none', 'img/backs/plan-d.png', 'Фон блока')
		.circle-arrow.circle-arrow-plan
		.container
			.content
				.circle.circle-plan-1
				.line.line-plan
				h3.general-title.general-title-plan программа марафона по темам
	.plan-text-content
		.container
			.row
				.col-md-5
					ul.plan-list.plan-list-1
						li Почему мы не достигаем поставленных целей и желаний, ограничения и блоки.
						li Портрет человека обремененного блоками и запретами.
						li Выявляем свои блоки и запреты.
						li Находим отправную точку проблемы.
						li Рассматриваем траекторию судьбы.
						li Где, в какой момент жизни что-то пошло не по плану.
						li Разбираем пошагово схему НЕ достижения целей.
						li Саботаж. Как мы саботировали успех? По какому принципу?
						li Суть мотивации.
						li Встроенные внутренние импульсы действовать, внешние стимулы, заставляющие нас двигаться к своим целям.
				.col-md-5.col-md-offset-2
					ul.plan-list.plan-list-2
						li Мотивация ОТ проблем.
						li Мотивация К цели.
						li Ментальные способности индивидуума.
						li Учимся при помощи мышления создавать собственную реальность.
						li Изучаем методы и инструменты по управлению своей реальностью.
						li Учимся переводить проблемы в задачи и находить лучшие решения.
						li Договор с подсознанием.
						li Как из бессознательного получить для себя правильные и эффективные решения.
						li Нейтрализуем негативные жизненные сценарии (программы безденежья, одиночества, болезни, разрушения, кризиса).
						li Работаем с формулой баланса. Учимся приводить в равновесие все сферы жизни.