section.doubts.doubts-d
	.container
		.content
			.circle.circle-doubts
			.doubts-content
				h3.general-title.general-title-left.general-title-doubts
					small Если, дочитав эту страницу до конца,
					span  ты все еще сомневаешься 
					small в том, что это действительно тебе поможет, 
					span то подумай вот над чем:
				p.doubts-text Когда жизнь предоставляет шанс - это значит, что когда-то ты просила о нём.  
				p.doubts-text Ведь если ты не запишешься на марафон, то я гарантирую, что результата не будет.
				p.doubts-text Но, если ты пройдешь его, то твои шансы явно больше нуля.
				p.doubts-text По-моему, беспроигрышный вариант, тем более, начать ты можешь абсолютно 
					span бесплатно.
				+b('button-up button-doubts', '#Modal', 'Хочу на марафон')
section.doubts.doubts-mob
	.container
		.content
			.circle.circle-doubts
			.doubts-content
				h3.general-title.general-title-left.general-title-doubts
					small Если, дочитав эту страницу до конца,
					span  ты все еще сомневаешься 
					small в том, что это действительно тебе поможет, 
					span то подумай вот над чем:
	.doubts-mob-container
		.container
			.container
				p.doubts-text Когда жизнь предоставляет шанс - это значит, что когда-то ты просила о нём.  
				p.doubts-text Ведь если ты не запишешься на марафон, то я гарантирую, что результата не будет.
				p.doubts-text Но, если ты пройдешь его, то твои шансы явно больше нуля.
				p.doubts-text По-моему, беспроигрышный вариант, тем более, начать ты можешь абсолютно 
					span бесплатно.
				+b('button-up button-doubts', '#Modal', 'Хочу на марафон')