section#main
	.container
		.content
			.circle.circle-main
			.circle-dashed
			.line.line-main
			.row
				.col-md-8
					h1.main-title Спасибо, что зарегистрировались на&nbsp;марафон
					p.main-text Он будет проходить вот в&nbsp;этом канале. 
					p.main-text
						span Присоединяйтесь
					a.button.button-main(href='https://t.me/+CAwuyvO6BXVmNzli')
						+imgs('', 'img/icons/tg.png','Telegram')
						|  Присоединиться
					p.main-text Обязательно оставляйте 
						span включенным уведомления,
						|  чтобы не&nbsp;пропустить начало.