section#do
	+imgs('do-bg', 'img/backs/do-d.svg', 'Фон блока')
	.container
		.content
			h3.general-title.general-title-do ну что же тогда делать и кто виноват?
				span.circle-arrow.circle-arrow-do
			.circle-do-1
			.circle.circle-do-2
			.line.line-do
			.row
				.col-md-4.col-md-offset-2
					.do-item
						p На марафоне мы будем разбираться в причинах тех проблем, которые нас волнуют и копились долгие годы.
					.do-item
						p Поймете, почему вам выгодно оставаться в тени, почему выгодно не действовать и не развиваться.
				.col-md-4
					.do-item
						p Вы увидите, как ограничивающие убеждения, внутренние запреты мешают вам в достижении цели.
					.do-item
						p Но, самое главное - сможете с помощью психологических практик, закрыть свои проблемы и заявить о себе в  полный голос.
			+b('', href, 'Принять участие')