section#prices
	.container
		.content
			.line.line-prices
			.general-img.general-img-prices
			h3.general-title.general-title-prices Выберите свой вариант участия
				small Работаем с&nbsp;блоками, ограничивающими убеждениями, травмами и&nbsp;обидами, которые мешают вашей&nbsp;мечте стать реальностью
			.row
				.col-md-6
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Без сопровождения
						.packet-body
							p.packet-body-text Данный пакет не предусматривает сопровождения кураторами и обратную связь
						.packet-footer
							p.cost Стоимость:
								span 3 900р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5985&clean=true&lg=ru', 'Оплатить', '_blank')
				.col-md-6
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Основной
						.packet-body
							p.packet-body-text Данный пакет дает право на сопровождение кураторами - проверка выполнения заданий и обратная связь
						.packet-footer
							p.cost Стоимость:
								span 5 700р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5980&clean=true&lg=ru', 'Оплатить', '_blank')
			.row
				.col-md-6.col-md-offset-3
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Семейный
						.packet-body
							p.packet-body-text Данный пакет предназначен для прохождения марафона вместе со своим партнером. Он не предусматривает сопровождения кураторами и обратную связь
							p.packet-body-text
								span ВНИМАНИЕ!
								|  Второй участник из пары в чат марафона будет добавлен с небольшой задержкой, так как ему необходимо будет выполнить определенные действия по инструкции, которая придет ему на емейл. Поэтому ВАЖНО правильно вписать не только свой, но и его емейл, а также проверять почту. Емейл партнера вписываем в специальное поле при оформлении заказа.
						.packet-footer
							p.cost Стоимость:
								span 6 000р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5986&clean=true&lg=ru', 'Оплатить', '_blank')