section#prices
	.container
		.content
			.line.line-prices
			.general-img.general-img-prices
			h3.general-title.general-title-prices Выберите свой вариант участия
				small Работаем с&nbsp;блоками, ограничивающими убеждениями, травмами и&nbsp;обидами, которые мешают вашей&nbsp;мечте стать реальностью
			.row
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Без сопровождения
						.packet-body
							p.packet-body-text Данный пакет не предусматривает сопровождения кураторами и обратную связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
						.packet-footer
							p.cost Стоимость:
								span 3 900р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5985&clean=true&lg=ru', 'Оплатить', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Семейный
						.packet-body
							p.packet-body-text Данный пакет предназначен для прохождения марафона вместе со своим партнером. Он не предусматривает сопровождения кураторами и обратную связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
							p.packet-body-text
								a.more-button(href='#modalMore') важное условие
						.packet-footer
							p.cost Стоимость:
								span 6 000р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5986&clean=true&lg=ru', 'Оплатить', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Основной
						.packet-body
							p.packet-body-text Данный пакет дает право на сопровождение кураторами - проверка выполнения заданий и обратная связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
						.packet-footer
							p.cost Стоимость:
								span 5 700р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5980&clean=true&lg=ru', 'Оплатить', '_blank')
			.row
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Основной
								span 1-ая неделя
						.packet-body
							p.packet-body-text Данный пакет дает право на сопровождение кураторами - проверка выполнения заданий и обратная связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
							p.packet-body-text Данны вариант оплаты только для 
								span.note пакета Основной
						.packet-footer
							p.cost Стоимость:
								span 1 900р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5981&clean=true&lg=ru', 'Оплатить', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Основной
								span 2-ая неделя
						.packet-body
							p.packet-body-text Данный пакет дает право на сопровождение кураторами - проверка выполнения заданий и обратная связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
							p.packet-body-text Данны вариант оплаты только для 
								span.note пакета Основной
						.packet-footer
							p.cost Стоимость:
								span 1 900р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5982&clean=true&lg=ru', 'Оплатить', '_blank')
				.col-md-4
					.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| Основной
								span 3-ая неделя
						.packet-body
							p.packet-body-text Данный пакет дает право на сопровождение кураторами - проверка выполнения заданий и обратная связь
							p.packet-body-text После оплаты нашей команде понадобится какое-то время, чтобы добавить вас в закрытый чат марафона.
							p.packet-body-text Данны вариант оплаты только для 
								span.note пакета Основной
						.packet-footer
							p.cost Стоимость:
								span 1 900р.
							+b('', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5983&clean=true&lg=ru', 'Оплатить', '_blank')