.white-popup.mfp-hide#modalMore
	p.modal-text  Второму участнику из пары еще необходимо будет выполнить определенные действия по инструкции, которая придет ему на емейл. Поэтому ВАЖНО правильно вписать не только свой, но и его емейл, а также проверять почту. Емейл партнера вписываем в специальное поле при оформлении заказа.